<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Do-It ⚡️</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Do-It ⚡️</h1>
      <p class="description">
        A simple and user-friendly task manager to keep track of your to-dos.
      </p>
      <ul>
        {% for task in tasks %}
        <li class="task {{ 'complete' if task.complete }}">
          <div>
            <span>{{ task.task }}</span>
            <div>
              <a
                href="{{ url_for('update', task_id=task.id) }}"
                class="complete-task"
                >Complete</a
              >
              <a href="{{ url_for('delete', task_id=task.id) }}">Delete</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <footer>
      This web app is made by Adham Haitham.
      <img
        src="{{ url_for('static', filename='ghb.png') }}"
        alt="GitHub"
        id="github-icon"
      />
    </footer>
    <div class="floating-button">+</div>
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Add Task</h2>
        </div>
        <form id="task-form" action="/add" method="POST">
          <input type="text" name="task" placeholder="Task" required />
          <input type="datetime-local" name="deadline" required />
          <textarea
            name="description"
            placeholder="Description"
            required
          ></textarea>
          <button type="submit">Add Task</button>
        </form>
      </div>
    </div>
    <div class="theme-toggle">🌓</div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
